<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DompetKu - <%= typeof title != 'undefined' ? title : 'App' %></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 font-sans min-h-screen flex flex-col">
    <%- include('../partials/navbar') %>
    <main class="container mx-auto mt-8 px-4 flex-grow mb-10">
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>